:root {
  --font-body: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --color-bg: #121212;
  --color-bg-bright: #222222;
  --color-bg-button: #333333;
  --color-bg-button-bright: #444444;
  --color-text: #e0e0e0;
  --color-secondary: #a15e49;
  --color-primary: #ca895f;
  --color-border: #444444;
}

body {
  font-family: var(--font-body);
  background: linear-gradient(135deg, var(--color-bg), var(--color-bg-bright));
  color: var(--color-text);

  width: 100%;
  height: 100vh;
  min-width: 100vw;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 1rem 0;
}

/* For Shiki code blocks */
pre {
  margin: 0.5rem 0 16px;
  padding: 1rem 1rem 1rem;
}

code {
  font-family: var(--font-mono);
  background: var(--color-border);
  padding: 0.2rem 0.4rem;
}
