---
import '@styles/global.css';
import '@fontsource/ibm-plex-mono';
import '@fontsource/ibm-plex-sans';
import Header from '@components/Header.astro';

type Props = {
  title: string;
  description?: string;
  type?: string;
  image?: string;
  date?: Date;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/stewdio-pending-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | stewdio.dev</title>
  </head>
  <body>
    <div class="page-container">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style>
  .page-container {
    align-self: flex-start;
    flex-grow: 1;
    width: 90%;
    max-width: 80ch;
    margin: 0 auto;
  }

  @media (width <= 80ch) {
    .page-container {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
</style>
